.container{
	border:2px solid Yellow;
	min-height:500px;
	min-width:750px;	
}

.divEspaco{
	border:2px solid Yellow;
	min-height:30px;
}

.divLogo{
	border:2px solid Yellow;

}

.div2{
	border:2px solid Yellow;
	min-height:15px;
}

.divMenu{
	border: 2px solid Yellow;
	min-height: 500px;
}

.divRanking{
	border:2px solid Yellow;
	min-height:500px;
}