/* aplicação do CSS em tags */
body {
	background: url(../image/FundoSite.jpg) center center no-repeat fixed;
  visibility: 50%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

ul {
  list-style-type: none;
}

.footer {
  margin-top: 10px;
  color: #FFF;
  height: 3cm!important;
  background-color: #a6a6a6;
}



/* aplicação do CSS em classes */



.divEspaco{
	min-height:30px;
}

.divLogo{
	height:60px;
	background:url(../image/icone.png);
	background-repeat:no-repeat;
	background-size:60px;
}

.divNavbar{
	height:60px;
	background-color:#39C;
  background: linear-gradient(to right, #39C, #38F);
}

.divMenu{
  background-color: #000;
	min-height: 500px;
  margin-right: 10px;
}

.divConteudo{
	
}



/* aplicação do CSS em tags do NavBar */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0,2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  max-height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}




/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

